* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
    width: 100%;
    height: 100vh;
    background-color: rgba(237, 159, 159, 0.8);
}
.container {
  color: blue;
  font-weight: bold;
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
